<h1>Hello, Rails! Articles#index</h1>

<ul>
  <%# Controller instance variables can be accessed by the view so we can reference @articles %>
  <%# ERB is a templating system that evaluates Ruby code embedded in a document %>
  <%# %= means evaluate the Ruby code and output value it returns vs. % means evaluate Ruby code %>
  <% @articles.each do |article| %>
    <li>
      <%# Old way with routeprefix_path i.e. article_path(article) %>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
